.App {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.App > div {
  padding: 20px
}

.explore {
  border: 1px solid lightgray;
  border-top: 0px;
  height: 200px;
}

.categories {
  display: flex;
  font-weight: bold
}

.category {
  display: flex;
  border: 1px solid lightgray;
  border-radius: 3px;
  width: 260px;
  align-items: center;
  margin-right: 20px;
}

.category span {
  padding-left: 20px
}

.plus {
  border: 1px solid lightgray;
  border-top: 0px;
  height: 230px;
}

.recommended {
  border: 1px solid lightgray;
  border-top: 0px;
  height: 300px;
}