.App {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 230px;
  font-size: 36px;
  background-image: url('./icons/header.jpg');
  font-weight: bold;
  padding: 20px;
}


.search {
  border: 1px solid lightgray;
  border-top: 0px;
  height: 400px;
}


.explore {
  border: 1px solid lightgray;
  border-top: 0px;
  height: 200px;
}

.plus {
  border: 1px solid lightgray;
  border-top: 0px;
  height: 230px;
}

.recommended {
  border: 1px solid lightgray;
  border-top: 0px;
  height: 300px;
}