.App {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.App > div {
  padding: 20px
}

.categories {
  display: flex;
  font-weight: bold
}

.category {
  display: flex;
  border: 1px solid lightgray;
  border-radius: 3px;
  width: 260px;
  align-items: center;
  margin-right: 20px;
}

.category span {
  padding-left: 20px
}

.plus-image {
  background-image: url('./icons/plus.jpg');
  height: 300px;
  background-size: cover;
}

.recommended {
  border: 1px solid lightgray;
  border-top: 0px;
  height: 300px;
}

.cities {
  display: flex;
  flex: 1;
  justify-content: space-around
}

.city {
  flex: 1;
}

.city-image {
  width: 180px;
  height: 200px;
  filter: brightness(60%)
}

.city-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  position:absolute;
  margin-top: -80px;
  margin-left: 10px;
  font-weight: bold;
  color: white
}
